<div id="header">
    <a class="logo-header" href="#"></a>
    <nav>
        <a class="text-link" href="#about">
            <span>About Me</span>
            <span class="text-link-mirrored">About Me</span>
        </a>
        <a class="text-link" href="#skills">
            <span>Skills</span>
            <span class="text-link-mirrored">Skills</span>
        </a>
        <a class="text-link" href="#portfolio">
            <span>Portfolio</span>
            <span class="text-link-mirrored">Portfolio</span>
        </a>
    </nav>
</div>