<div id="header">
    <a class="logo-header" href="#"></a>

    <nav class="desktop-only">
        <a class="text-link" href="#about">
            <span>About Me</span>
            <span class="text-link-mirrored">About Me</span>
        </a>
        <a class="text-link" href="#skills">
            <span>Skills</span>
            <span class="text-link-mirrored">Skills</span>
        </a>
        <a class="text-link" href="#portfolio">
            <span>Portfolio</span>
            <span class="text-link-mirrored">Portfolio</span>
        </a>
    </nav>

    <input type="checkbox" id="toggle-burger-menu" #toggleBurgerMenu>
    <label for="toggle-burger-menu" class="burger-menu mobile-only" (click)="toggleBodyOverflow()">
        <span class="bar" *ngFor="let b of [0, 1, 2, 3]"></span>
    </label>

    <aside class="overlay-screen mobile-menu">
        <nav class="mobile-only">
            <a class="text-link" href="#about" (click)="closeMobileMenu()">
                <span>About Me</span>
                <span class="text-link-mirrored">About Me</span>
            </a>
            <a class="text-link" href="#skills">
                <span>Skills</span>
                <span class="text-link-mirrored">Skills</span>
            </a>
            <a class="text-link" href="#portfolio">
                <span>Portfolio</span>
                <span class="text-link-mirrored">Portfolio</span>
            </a>
        </nav>
    </aside>
</div>