.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--headerHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--paddingLR);
    background-color: var(--bgColor);
    box-shadow: 0 0 3px 1px var(--bgColor);
    z-index: 10;

    .logo {
        height: 60px;
        width: 90px;
        cursor: pointer;
        background-image: var(--logoA);
        background-size: contain;
        background-repeat: no-repeat;
        transition: all var(--transitionTime) ease-in-out;

        &:hover {
            background-image: var(--logoB);
            transition: all var(--transitionTime) ease-in-out;
        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        font-size: 24px;
    }
}