@use 'burger-menu';

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--headerHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--paddingLR);
    background-color: var(--bgColor);
    box-shadow: 0 0 3px 1px var(--bgColor);
    z-index: 10;
}



/*--------------------------------------------------
Media Queries
---------------------------------------------------*/
@media (width < 900px) {
    .desktop-only {
        display: none !important;
    }

    .mobile-only {
        display: flex !important;
    }

    #header {
        padding: 0 var(--paddingLRMobile);
    }
}