<div id="footer">
    <div class="logo-and-legal">
        <a class="logo-footer" href="#"></a>
        <div class="legal-notice desktop-only">
            <a class="text-link" routerLink="/imprint">Imprint</a>
            <span>|</span>
            <a class="text-link" routerLink="/privacy">Privacy</a>
        </div>
    </div>

    <span class="copyright">
        © Manu Kapolke 2023
    </span>

    <app-contact-icons></app-contact-icons>

    <div class="legal-notice mobile-only">
        <a class="text-link" routerLink="/imprint">Imprint</a>
        <span>|</span>
        <a class="text-link" routerLink="/privacy">Privacy</a>
    </div>
</div>