#footer {
    height: var(--footerHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--paddingLR);
    background-color: var(--bgColor);
    border-top: 4px solid var(--mainColorB);
    box-shadow: 0 0 3px 1px var(--mainColorB);
    position: relative;
    z-index: 9;

    .logo-and-legal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;

        .legal-notice {
            display: flex;
            gap: 8px;
        }
    }

    .copyright {
        font-size: 1.5rem;
    }
}

/*--------------------------------------------------
Media Queries
---------------------------------------------------*/
@media (width < 900px) {
    #footer {
        height: var(--footerHeightMobile);
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        .logo-footer {
            margin-bottom: 20px;
        }
    }
}