.sending-screen {
    gap: 72px;
    z-index: 999;

    .message-sent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;

        .message-sent-text {
            color: white;
        }

        span {
            cursor: pointer;
        }
    }
}