<div class="above-the-fold">
    <div class="photo-container">
        <img class="photo-background-shape" src="assets/img/bg-shapes/v{{ layoutService.version }}_shadow_photo.png"
            alt="photo-background">
        <img class="photo" src="assets/img/photo/mkapolke3_oH.png" alt="photo">
    </div>

    <div class="title-and-button">
        <div class="main-title">
            <div class="main-title-left">I am</div>
            <div class="main-title-right">
                <div class="manu">Manu Kapolke</div>
                <div class="frontend">FRONTEND DEVELOPER</div>
            </div>
        </div>

        <button class="btn btn-filled-B">Let's talk!</button>
    </div>

    <img class="banner" src="assets/img/bg-shapes/banner_high.png">
</div>