#above-the-fold {
    height: 100vh;
    align-items: center;
    justify-content: space-between;

    .photo-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        // max-height: calc(100vh - var(--headerHeight));
        height: calc(96vh - var(--headerHeight));

        .photo {
            width: clamp(320px, 25vw, 360px);
            z-index: 1;
            max-height: 100%;
            object-fit: contain;
        }

        .photo-background-shape {
            position: absolute;
            top: -30px;
            left: calc(-0.5 * (872px - clamp(264px, 25vw, 360px)));
            display: flex;
            align-items: flex-start;
            justify-content: center;
            overflow-y: hidden;
            height: 720px;
            max-height: 100%;
        }
    }

    .banner {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 33vh;
        min-width: 100%;
        z-index: 1;
    }

    .title-and-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 45px;
    }

    .main-title {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 10px;
        z-index: 2;
        // font-size: 16px;

        .main-title-left {
            writing-mode: vertical-lr;
            transform: rotate(-180deg);
            font-size: clamp(34px, 3vw, 50px);
            letter-spacing: clamp(2.5px, 0.24vw, 4px);
            white-space: nowrap;
            margin-bottom: clamp(2px, 0.24vw, 4px);
            line-height: 110%;
        }

        .main-title-right {
            white-space: nowrap;

            .sub-title {
                font-size: clamp(34px, 3vw, 50px);
                color: var(--mainColorA);
                line-height: 100%;
                // letter-spacing: clamp(2.5px, 0.24vw, 4px);
                display: flex;
                justify-content: space-between;

                span {
                    min-width: 0.5ex;
                }
            }
        }
    }

    .contact-bar {
        position: absolute;
        bottom: 40px;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 40px;
        z-index: 3;

        .h-line-abovethefold {
            width: var(--paddingLR);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .email {
            font-size: 1.5rem;
        }
    }

    .scroll-down {
        position: absolute;
        bottom: 40px;
        right: var(--paddingLR);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 8px;
        z-index: 3;
        cursor: pointer;
        text-decoration: none;
        color: inherit;

        span {
            font-size: 1.5rem;
            writing-mode: vertical-lr;
        }

        .arrow-down {
            height: 30px;

            svg {
                scale: 1.1;
                margin-left: 6px;
                animation: pointDown 2s infinite;
            }
        }
    }
}

@keyframes pointDown {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(0);
    }
}

/*--------------------------------------------------
Media Queries
---------------------------------------------------*/
// @media (width < 1600px) {
//     .main-title {
//         font-size: 14px !important;
//     }
// }

// @media (width < 1400px) {
//     .main-title {
//         font-size: 12px !important;
//     }
// }

@media (width < 1280px) {
    #above-the-fold {
        // .main-title {
        //     font-size: 10px !important;
        // }

        .contact-bar .email {
            // font-size: 20px;

            .text-link-mirrored {
                // left: -5px;
                top: 28px;
            }

            // &:hover .text-link-mirrored {
            //     height: 32px;
            // }
        }

        .scroll-down {
            // bottom: 40px;
            // gap: 8px;

            // span {
            //     font-size: 20px;
            // }

            .arrow-down {
                // height: 30px;

                svg {
                    // scale: 1.1;
                    margin-left: 4px;
                }
            }
        }
    }
}

@media (width < 900px) {
    #above-the-fold {
        flex-direction: column;
        justify-content: flex-start;
        gap: 5vh;

        .photo-container {
            .photo {
                height: 70vh;
                object-fit: cover;
                object-position: top;
                // margin-bottom: -6vh;
            }
        }

        .banner {
            height: 56vh;
        }

        .title-and-button {
            margin-top: -20vh;
        }

        .contact-bar {
            position: relative;
            bottom: unset;
            left: unset;
            // gap: 40px;

            .h-line-abovethefold {
                $distanceToLeft: calc(50vw - 100px);
                position: absolute;
                top: 50%;
                left: calc(-1 * $distanceToLeft);
                width: calc($distanceToLeft - 40px);
            }
        }
    }
}


@media (width < 500px) {
    #above-the-fold {
        .main-title {
            .main-title-left {
                font-size: clamp(16px, 6vw, 34px);
                letter-spacing: clamp(1.5px, 0.5vw, 2.5px);
            }

            .main-title-right .sub-title {
                font-size: clamp(16px, 6vw, 34px);
                letter-spacing: clamp(1.5px, 0.5vw, 2.5px);
            }
        }
    }
}