#above-the-fold {
    height: 100vh;
    align-items: center;
    justify-content: space-between;

    .photo-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .photo {
            width: 360px;
            z-index: 1;
        }

        .photo-background-shape {
            position: absolute;
            top: -30px;
            left: calc(-0.5 * (872px - 360px));
            // width: 872px;
            // height: 820px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .banner {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 33vh;
        width: 100%;
        z-index: 1;
    }

    .title-and-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 45px;
    }

    .main-title {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 10px;
        z-index: 2;

        .main-title-left {
            writing-mode: vertical-lr;
            transform: rotate(-180deg);
            font-size: 62px;
            letter-spacing: 3px;
            white-space: nowrap;
            margin-bottom: 3px;
        }

        .main-title-right {
            white-space: nowrap;

            .sub-title {
                font-size: 60px;
                color: var(--mainColorA);
                line-height: 100%;
                letter-spacing: 5px;
            }
        }
    }

    .contact-bar {
        position: absolute;
        bottom: 40px;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 40px;
        z-index: 3;

        .h-line-abovethefold {
            width: var(--paddingLR);
            border-top-right-radius: 1px;
            border-bottom-right-radius: 1px;
        }



        .email {
            font-size: 24px;
        }
    }

    .scroll-down {
        position: absolute;
        bottom: 40px;
        right: var(--paddingLR);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 8px;
        z-index: 3;
        cursor: pointer;
        text-decoration: none;
        color: inherit;

        span {
            font-size: 24px;
            writing-mode: vertical-lr;
        }

        .arrow-down {
            height: 30px;

            svg {
                scale: 1.1;
                margin-left: 6px;
                animation: pointDown 2s infinite;
            }
        }
    }
}

@keyframes pointDown {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(0);
    }
}