<section id="above-the-fold">
    <div class="photo-container" data-aos-offset="-200" data-aos-delay="500" data-aos-duration="1500" data-aos="fade">
        <div class="photo-background-shape zoom-in">
            <img src="assets/img/bg-shapes/v{{ layoutService.version }}_shadow_photo.png" alt="photo-background">
        </div>
        <img class="photo" src="assets/img/photo/mkapolke2_oH.png" alt="photo">
    </div>

    <img class="banner" src="assets/img/bg-shapes/banner_high_filledbottom.png">

    <div class="title-and-button">
        <div class="main-title">
            <div class="main-title-left" data-aos-offset="-200" data-aos-delay="1000" data-aos-duration="1500"
                data-aos="fade">
                I am
            </div>
            <div class="main-title-right">
                <h1 data-aos-offset="-200" data-aos-delay="1500" data-aos-duration="1500" data-aos="fade">
                    Dr. Manu Kapolke
                </h1>
                <div class="sub-title" data-aos-offset="-200" data-aos-delay="2000" data-aos-duration="1500"
                    data-aos="fade-left">
                    <span *ngFor="let character of subTitle">{{ character }}</span>
                </div>
            </div>
        </div>

        <a class="btn btn-filled-B" href="#contact" data-aos-offset="-200" data-aos-delay="2500"
            data-aos-duration="2500" data-aos="flip-up">Let's talk!</a>
    </div>

    <div class="contact-bar">
        <div class="h-line-A h-line-abovethefold" data-aos-offset="-200" data-aos-delay="2500" data-aos-duration="1500"
            data-aos="fade-right"></div>
        <app-contact-icons data-aos-offset="-200" data-aos-delay="2600" data-aos-duration="1500"
            data-aos="fade-up"></app-contact-icons>
        <a class="email text-link desktop-only" href="mailto:mail@manukapolke.de" data-aos-offset="-200"
            data-aos-delay="2700" data-aos-duration="1500" data-aos="fade-up">
            <span>mail@manukapolke.de</span>
            <span class="text-link-mirrored">mail@manukapolke.de</span>
        </a>
    </div>

    <a class="scroll-down desktop-only" href="#about" data-aos-offset="-200" data-aos-delay="2500"
        data-aos-duration="1500" data-aos="fade-up">
        <span>Scroll down</span>
        <div class="arrow-down">
            <svg width="18" height="18" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8.99998 12.172L13.657 7.515C14.0475 7.12453 14.6805 7.12453 15.071 7.515C15.4615 7.90547 15.4614 8.53854 15.071 8.929L8.70709 15.2929C8.31657 15.6834 7.6834 15.6834 7.29288 15.2929L0.928985 8.929C0.538519 8.53853 0.538519 7.90547 0.928985 7.515C1.31945 7.12453 1.95252 7.12453 2.34299 7.515L6.99998 12.172V1C6.99998 0.447715 7.4477 0 7.99998 0C8.55227 0 8.99998 0.447715 8.99998 1V12.172Z"
                    fill="white"></path>
            </svg>
        </div>
    </a>
</section>