<aside class="overlay-screen mobile-menu" [class.slide-in]="overlayService.mobileMenuIsOpen">
    <nav class="mobile-only">
        <a class="text-link" href="#" (click)="overlayService.closeMobileMenu()">
            <span>Home</span>
        </a>
        <a class="text-link" href="#about" (click)="overlayService.closeMobileMenu()">
            <span>About Me</span>
        </a>
        <a class="text-link" href="#skills" (click)="overlayService.closeMobileMenu()">
            <span>Skills</span>
        </a>
        <a class="text-link" href="#portfolio" (click)="overlayService.closeMobileMenu()">
            <span>Portfolio</span>
        </a>
        <a class="text-link" href="#contact" (click)="overlayService.closeMobileMenu()">
            <span>Contact</span>
        </a>
    </nav>
</aside>