<section id="about">
    <h2>About Me</h2>
    <p class="about-text-container">
        Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit amet
        porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur.
    </p>
    <div class="about-text-container">
        <img src="assets/icons/v{{ layoutService.version }}_bulb.png" alt="bulb">
        <p>
            Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu
            ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
    </div>
    <div class="about-text-container">
        <img src="assets/icons/v{{ layoutService.version }}_puzzle.png" alt="puzzle-piece">
        <p>
            Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu
            ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
    </div>

    <img class="bg-shape" src="assets/img/bg-shapes/v{{ layoutService.version }}_shadow_about.png">

    <div class="photo-container">
        <img src="assets/img/photo/mkapolke3_oH.png" alt="photo">
        <div class="h-line"></div>
    </div>
</section>