#about {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 35px;

    .about-text-container {
        width: 60%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        z-index: 3;

        img {
            width: 110px;
            height: 50px;
            padding: 0 calc(0.5 * (110px - 50px));
            margin-bottom: calc(0.3 * (110px - 50px));
        }
    }

    .bg-shape {
        position: absolute;
        top: -200px;
        right: 0;
        width: calc(741px - 400px);
        height: 737px;
        overflow: hidden;
        z-index: 2;
    }

    .photo-container {
        position: absolute;
        top: 200px;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 3;

        img {
            width: min(25vw, 600px);
            height: min(25vw, 600px);
            object-fit: contain;
            border-radius: 50%;
            border: 4px solid var(--mainColorB);
        }

        .h-line-about {
            width: calc(1.2 * var(--paddingLR));
        }
    }
}

/*--------------------------------------------------
Media Queries
---------------------------------------------------*/
@media (width < 900px) {
    #about {
        .about-text-container {
            width: 100%;
        }
    }
}

@media (width < 500px) {
    #about {
        .about-text-container {
            flex-direction: column;
            align-items: center;
        }
    }
}