<section id="about">
    <h2 data-aos="fade-right" data-aos-duration="1000" translate>About Me</h2>
    <p class="about-text-container" data-aos="fade-right" data-aos-duration="1000" data-aos-anchor="#about">
        <span translate>
            Hello! I'm Manu Kapolke, a passionate frontend developer from Erlangen, Germany.
            <!-- I successfully attended a respective educational program at the <a class="inner-text-link"
                href="https://developerakademie.com/">Developer Akademie</a>, Munich. -->
            Captivated by the ever-evolving world
            of web development, I immensely enjoy building impressive and user-friendly web experiences.
        </span>
    </p>
    <div class="about-text-container" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="250"
        data-aos-anchor="#about">
        <img src="assets/icons/v{{ layoutService.version }}_bulb.png" alt="bulb">
        <p translate>
            As a Doctor of Mathematics,
            <!-- I have extensively honed my problem-solving skills, cultivated a keen attention
            to detail, and evolved a strong analytical mindset. These qualities seamlessly translate into the world of
            web development, where precision, perseverance and creative problem-solving are paramount. <br>
            Further,  -->
            I have a great appreciation for "beauty" in abstract processes.
            In this sense, writing clean code is of utmost importance to me. Developing elegant and efficient frontend
            solutions with code as beautiful as possible is my main drive when programming.
        </p>
    </div>
    <div class="about-text-container" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500"
        data-aos-anchor="#about">
        <img src="assets/icons/v{{ layoutService.version }}_puzzle.png" alt="puzzle-piece">
        <p translate>
            <!-- During my academic pursuit, I realized that my true passion lies in software development. The transition... -->
            After my academic career, the transition from mathematical proofs to coding logic felt natural on the one
            hand, yet like discovering
            the missing piece of the puzzle in my life. <br>
            By now, I'm fully immersed in the world of software development, constantly learning and pushing myself to
            become the best developer I can be.
        </p>
    </div>

    <div class="bg-shape">
        <img src="assets/img/bg-shapes/v{{ layoutService.version }}_shadow_about.png">
    </div>


    <div class="photo-container desktop-only" data-aos="fade-left" data-aos-duration="1000">
        <img src="assets/img/photo/mkapolke3_oHb_40.png" alt="photo">
        <div class="h-line-B h-line-about"></div>
    </div>
</section>