#contact {
    flex-direction: column;
    gap: 35px;
    padding-bottom: calc(2 * var(--paddingLR));
    z-index: 3;

    .h-line-contact {
        position: absolute;
        top: 168px;
        left: 0;
        width: calc(var(--paddingLR) - var(--gapLineText));
        z-index: 3;
    }

    .text-and-form {
        display: flex;
        justify-content: space-between;
        gap: 10%;

        .contact-text-container {
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        app-contact-form {
            width: 50%;
            z-index: 3;
        }
    }

    .bg-shape {
        position: absolute;
        bottom: -180px;
        left: -400px;
        transform: rotate(250deg);
        z-index: 2;
    }

    .scroll-up {
        position: absolute;
        bottom: var(--paddingLR);
        right: var(--paddingLR);
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover svg path {
            fill: var(--mainColorB);
        }

        &:hover svg rect {
            stroke: var(--mainColorB);
        }
    }
}