<section id="contact">
    <h2>Contact</h2>
    <div class="h-line-A h-line-contact"></div>

    <div class="text-and-form">
        <div class="contact-text-container">
            <h3 style="color: white">Got a problem to solve?</h3>
            <p>
                Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to
                your
                projects with my work.
            </p>
            <p>
                Need a Frontend developer? <b>Contact me!</b>
            </p>
        </div>

        <div class="contact-form-container">
            Form
        </div>
    </div>

    <img class="bg-shape" src="assets/img/bg-shapes/v{{ layoutService.version }}_shadow_portfolio-contact.png">
</section>