#contact {
    flex-direction: column;
    gap: 35px;

    .h-line-contact {
        position: absolute;
        top: 168px;
        left: 0;
        width: calc(var(--paddingLR) - var(--gapLineText));
    }

    .text-and-form {
        display: flex;
        justify-content: space-between;
        gap: 10%;

        .contact-text-container {
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        app-contact-form {
            width: 50%;
            z-index: 3;
        }
    }

    .bg-shape {
        position: absolute;
        bottom: -380px;
        left: -400px;
        transform: rotate(250deg);
        z-index: 2;
    }
}