<aside class="overlay-screen mobile-menu" [class.slide-in]="overlay.mobileMenuIsOpen">
    <nav class="mobile-only">
        <a class="text-link" href="#" (click)="overlay.closeMobileMenu()">
            <span translate>Home</span>
        </a>
        <a class="text-link" href="#about" (click)="overlay.closeMobileMenu()">
            <span translate>About Me</span>
        </a>
        <a class="text-link" href="#skills" (click)="overlay.closeMobileMenu()">
            <span>Skills</span>
        </a>
        <a class="text-link" href="#portfolio" (click)="overlay.closeMobileMenu()">
            <span>Portfolio</span>
        </a>
        <a class="text-link" href="#contact" (click)="overlay.closeMobileMenu()">
            <span translate>Contact</span>
        </a>
    </nav>
</aside>