<section id="skills">
    <div class="skills-icons-container">
        <div *ngFor="let skill of skills; let i = index" class="skill-icon" data-aos="flip-left"
            data-aos-duration="1500">
            <img src="assets/icons/{{ skill.icon }}" alt="angular-icon">
            <span>{{ skill.name }}</span>
        </div>
    </div>

    <div class="skills-text-container" data-aos="fade-left" data-aos-duration="1500">
        <h2>
            My Skills
            <div class="h-line-A h-line-skills"></div>
        </h2>
        <p>
            I have grown my frontend developments skills that have allowed me to create different real projects.
        </p>
        <a class="btn btn-filled-B" href="#contact">Get in touch</a>
    </div>

    <img class="bg-shape" src="assets/img/bg-shapes/v{{ layoutService.version }}_shadow_skills.png">
</section>