#skills {
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .skills-icons-container {
        display: flex;
        flex-wrap: wrap;
        gap: 60px 100px;
        width: 45vw;
        z-index: 3;

        .skill-icon {
            width: 88px;
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            img {
                height: 60px;
            }

            span {
                text-align: center;
                font-size: 1rem;
            }
        }
    }

    .skills-text-container {
        width: 30vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 35px;
        text-align: end;
        position: relative;

        .h-line-skills {
            position: absolute;
            top: 3vw;
            right: calc(-1 * var(--paddingLR));
            width: calc(var(--paddingLR) - var(--gapLineText));
        }

        a {
            margin-top: 25px;
            margin-right: 80px;
        }
    }

    .bg-shape {
        position: absolute;
        top: 540px;
        left: -240px;
        transform: rotate(30deg);
        scale: 1.3;
        z-index: 2;
    }
}

/*--------------------------------------------------
Media Queries
---------------------------------------------------*/
@media (width < 900px) {
    #skills {
        .skills-icons-container {
            // gap: 60px 100px;
            // width: 45vw;

            .skill-icon {
                // width: 88px;
                // height: 100px;
                // gap: 10px;

                img {
                    height: 45px;
                }

                // span {
                //     font-size: 1rem;
                // }
            }
        }

        .skills-text-container {
            // width: 30vw;
            // gap: 35px;

            .h-line-skills {
                // top: 3vw;
                right: calc(-1 * var(--paddingLRMobile));
                width: calc(var(--paddingLRMobile) - var(--gapLineText));
            }

            a {
                // margin-top: 25px;
                margin-right: 40px !important;
            }
        }
    }
}