#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 35px;
    padding-bottom: var(--headerHeight);

    h2 {
        padding: 0 var(--gapLineText);
        background-color: var(--bgColor);
        z-index: 1;
    }

    .h-line-portfolio {
        position: absolute;
        top: 170px;
        right: 0;
        width: 75vw;
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px;
    }

    app-project {
        z-index: 3;
    }

    .bg-shape-A {
        position: absolute;
        top: 950px;
        left: -100px;
        z-index: 2;
    }

    .bg-shape-B {
        position: absolute;
        bottom: -200px;
        right: -500px;
        transform: rotate(75deg);
        z-index: 2;
    }
}