<section id="portfolio">
    <h2>Portfolio</h2>
    <div class="h-line-A h-line-portfolio"></div>
    <span>This page is a sample of my work - please feel free to try them out.</span>

    <app-project *ngFor="let p of projectListService.projects; let i = index" [project]="p"
        [reversed]="i % 2 == 1"></app-project>

    <img class="bg-shape-A" src="assets/img/bg-shapes/v{{ layoutService.version }}_shadow_portfolio-contact.png">
    <img class="bg-shape-B" src="assets/img/bg-shapes/v{{ layoutService.version }}_shadow_portfolio.png">
</section>