#portfolio {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 35px;
    padding-bottom: var(--headerHeight);

    .h2-container {
        position: relative;
        padding: 0 var(--gapLineText);
        background-color: var(--bgColor);
        // z-index: 1;

        .h-line-portfolio {
            position: absolute;
            top: 50%;
            left: calc(-1 * (var(--paddingLR)));
            width: 100vw;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            z-index: -1;
        }
    }

    .portfolio-text {
        text-align: center;
    }

    app-project {
        z-index: 3;
    }

    .bg-shape-A {
        position: absolute;
        top: 950px;
        left: -200px;
        z-index: 2;
    }

    .bg-shape-B {
        position: absolute;
        bottom: -300px;
        right: 0;
        width: calc(899px - 500px);
        height: 977px;
        overflow: hidden;
        z-index: 2;

        img {
            transform: rotate(75deg);
        }
    }
}

/*--------------------------------------------------
Media Queries
---------------------------------------------------*/
@media (width < 900px) {
    #portfolio {
        .h2-container {
            padding: 0 var(--gapLineTextMobile);

            .h-line-portfolio {
                left: calc(-1 * (var(--paddingLRMobile)));
            }
        }
    }
}