#legal-notice {
    flex-direction: column;
    padding-bottom: var(--headerHeight);
    gap: 3em;

    .imprint,
    .disclaimer {
        display: flex;
        flex-direction: column;
        gap: 0.25em;

        p {
            margin-bottom: 1.5em;
        }

        a {
            text-decoration: underline;
        }
    }
}