<section id="contact">
    <img class="bg-shape" src="assets/img/bg-shapes/v{{ layoutService.version }}_shadow_portfolio-contact.png">

    <h2 translate>
        Contact
        <div class="h-line-A h-line-contact" data-aos="fade-right" data-aos-duration="1500"></div>
    </h2>

    <div class="text-and-form" data-aos="fade" data-aos-duration="1500">
        <div class="contact-text-container">
            <h3 style="color: white" translate>Need a frontend developer?</h3>
            <p translate>
                Contact me through this form, I am interested in all kinds of web developing projects.
            </p>
            <p translate>
                Together,
                we may create compelling and functional digital experiences that leave a lasting impression. Let's
                embark on
                this exciting journey of innovation and creativity!
            </p>
            <p [innerHTML]="'You got a project waiting to be developed? Contact me!' | translate">
                <!-- You got a project waiting to be developed? <b>Contact me!</b> -->
            </p>
        </div>

        <app-contact-form></app-contact-form>
    </div>

    <a class="scroll-up" href="#">
        <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M18 15.828L13.343 20.485C12.9525 20.8755 12.3194 20.8755 11.929 20.485C11.5385 20.0945 11.5385 19.4615 11.929 19.071L18.2928 12.7071C18.6834 12.3166 19.3165 12.3166 19.7071 12.7071L26.071 19.071C26.4614 19.4615 26.4614 20.0945 26.071 20.485C25.6805 20.8755 25.0474 20.8755 24.657 20.485L20 15.828L20 27C20 27.5523 19.5522 28 19 28C18.4477 28 18 27.5523 18 27L18 15.828Z"
                fill="white" />
            <rect x="1" y="1" width="37" height="37" rx="18.5" stroke="white" stroke-width="2" />
        </svg>
    </a>
</section>