<div class="project-container">
    <a class="img-container" *ngIf="!reversed" href="{{ project.url }}">
        <img src="{{ project.img }}" alt="screen showing {{ project.name }} project">
    </a>

    <div class="text-container" [ngStyle]="{'text-align': reversed ? 'right' : 'left'}">
        <h3>{{ project.name }}</h3>
        <h4>{{ project.techStack }}</h4>
        <p>{{ project.description }}</p>
        <div class="project-buttons" [ngStyle]="{'justify-content': reversed ? 'flex-end' : 'flex-start'}">
            <a class="btn btn-filled-A" href="{{ project.url }}" target="_blank">Live test</a>
            <a class="btn btn-unfilled" href="{{ project.githubUrl }}" target="_blank">GitHub</a>
        </div>
    </div>

    <a class="img-container" *ngIf="reversed" href="{{ project.url }}">
        <img src="{{ project.img }}" alt="screen showing {{ project.name }} project">
    </a>
</div>