.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin: 35px 0;
    // position: relative;

    .img-container {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;

        .img-laptop {
            width: 100%;
        }

        &:hover {
            scale: 0.98;
        }
    }

    .imgPhone-container {
        position: absolute;
        bottom: 0;
        width: 16vw;
        height: 16vw;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;

        .img-phone {
            max-width: 100%;
            max-height: 100%;
        }

        // &:hover {
        //     scale: 0.98;
        // }
    }

    .text-container {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .project-buttons {
            display: flex;
            gap: clamp(16px, 7vw, 80px);
            margin-top: 30px;
        }
    }
}

/*--------------------------------------------------
Media Queries
---------------------------------------------------*/
@media (width < 900px) {
    .project-container {
        flex-direction: column;
        gap: 20px;

        .img-container {
            width: 80%;
            max-width: 500px;
            justify-content: center;
        }

        .imgPhone-container {
            width: clamp(100px, 33vw, 200px);
            height: clamp(100px, 33vw, 200px);
        }

        .text-container {
            width: 100%;
            align-items: center;

            .project-description {
                text-align: center;
            }
        }
    }
}