/* You can add global styles to this file, and also import other style files */
@import 'aos/dist/aos.css';

/*--------------------------------------------------
Variables
---------------------------------------------------*/
:root {
    --bgColor: #141D2F;
    --bgColorTransparent: #141d2fcc;
    --bgColorInput: #162035;
    --mainColorA: #4B47FF;
    --mainColorB: #00BEE8;
    --errorColor: #E61C40;
    --doneColor: #70E61C;
    --logoA: url('assets/logo/v2_mk-logo_a.png');
    --logoB: url('assets/logo/v2_mk-logo_b.png');
    --checkmark: url('assets/icons/v2_checkmark.png');
    --textareaResizer: url('assets/icons/v2_textarea-resizer.png');
    --headerHeight: 110px;
    --footerHeight: 280px;
    --paddingLR: 10vw;
    --gapLineText: 40px;
    --transitionTime: 125ms;
}

/*--------------------------------------------------
Mixins
---------------------------------------------------*/
@mixin logo($logo: var(--logoA), $height: 60px) {
    height: $height;
    width: calc(1.5 * $height);
    background-image: $logo;
    background-size: contain;
    background-repeat: no-repeat;
}

/*--------------------------------------------------
Fonts
---------------------------------------------------*/
/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/poppins-v20-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('assets/fonts/poppins-v20-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/poppins-v20-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url('assets/fonts/poppins-v20-latin-700italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/*--------------------------------------------------
Base
---------------------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    transition: all var(--transitionTime) ease-in-out;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bgColor);
    color: white;
    overflow-x: hidden;
}

/*--------------------------------------------------
Sections and Headlines
---------------------------------------------------*/
section {
    min-height: 100vh;
    padding: 0 var(--paddingLR);
    padding-top: var(--headerHeight);
    position: relative;
    display: flex;
}

h1 {
    font-size: 80px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--mainColorB);
    text-decoration-thickness: 4px;
    text-underline-offset: 16px;
}

h2 {
    font-size: 80px;
    font-weight: 700;
}

h3 {
    font-size: 32px;
    font-weight: 700;
    color: var(--mainColorA);
}

h4 {
    font-size: 24px;
    font-weight: 400;
    color: var(--mainColorB);
}

/*--------------------------------------------------
Logo
---------------------------------------------------*/
.logo-header {
    @include logo();
    cursor: pointer;

    &:hover {
        background-image: var(--logoB);
    }
}

.logo-sending {
    @include logo(var(--logoB), 140px);
}

.logo-footer {
    @include logo($height: 150px);
    cursor: pointer;

    &:hover {
        background-image: var(--logoB);
    }
}

/*--------------------------------------------------
Scrollbar
---------------------------------------------------*/
::-webkit-scrollbar {
    width: 16px;
}

// ::-webkit-scrollbar-track {
//     background: var(--bgColor);
// }

::-webkit-scrollbar-thumb {
    background: var(--mainColorB);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 4px 3px var(--bgColor);
}

// ::-webkit-scrollbar-thumb:hover {
//     background: var(--mainColorA);
// }

/*--------------------------------------------------
Buttons
---------------------------------------------------*/
.btn {
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 10px;
    z-index: 3;
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    white-space: nowrap;
    box-shadow: 4px 4px 4px 0px #00000040;
}

.btn-filled-A {
    background-color: var(--mainColorA);

    &:hover {
        background-color: var(--mainColorB);
    }
}

.btn-filled-B {
    background-color: var(--mainColorB);

    &:hover {
        background-color: var(--mainColorA);
        transform: scale(1.1);
    }
}

.btn-unfilled {
    background-color: rgba(var(--bgColor), 0.3);
    border: 1px solid var(--mainColorB);
    box-shadow: 0 0 3px 1px var(--mainColorB), inset 0 0 3px 1px var(--mainColorB);

    &:hover {
        background-color: var(--mainColorB);
    }
}

.btn-disabled {
    background-color: #B6B6B6 !important;
    cursor: unset !important;

    &:hover {
        background-color: #B6B6B6 !important;
        transform: unset !important;
    }
}

/*--------------------------------------------------
Lines
---------------------------------------------------*/
.h-line-A {
    height: 4px;
    border: 2px solid var(--mainColorA);
}

.h-line-B {
    height: 4px;
    border: 2px solid var(--mainColorB);
}

/*--------------------------------------------------
Links
---------------------------------------------------*/
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.text-link {
    position: relative;

    .text-link-mirrored {
        font-style: italic;
        cursor: inherit;
        transform: rotateX(210deg) translate(5px);
        mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(20%, transparent), to(#ffffffa8));
        -webkit-mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(20%, transparent), to(#ffffffa8));
        color: #ffffffa8;
        position: absolute;
        left: -5px;
        top: 36px;
        opacity: 0;
        height: 0;
        transition: opacity calc(2 * var(--transitionTime)) ease-in-out;
        transition: height calc(4 * var(--transitionTime)) ease-in-out;
    }

    &:hover {
        color: var(--mainColorB);

        .text-link-mirrored {
            height: 32px;
            opacity: 1;
            transition: opacity calc(2 * var(--transitionTime)) ease-in-out;
            transition: height calc(4 * var(--transitionTime)) ease-in-out;
        }
    }
}

.inner-text-link {
    color: var(--mainColorB);

    &:hover {
        text-decoration: underline;
    }
}

.svg-link {
    svg {
        scale: 0.8;
    }

    &:hover {
        svg {
            scale: 1;

            path {
                fill: var(--mainColorB);
            }
        }
    }
}

/*--------------------------------------------------
Show/Hide
---------------------------------------------------*/
.hidden {
    visibility: hidden !important;
}

/*--------------------------------------------------
Animation Classes
---------------------------------------------------*/
.heartbeat {
    animation: heartbeat 1200ms linear infinite;
}

.glow {
    animation: glow 2s ease-in-out infinite alternate;
}

/*--------------------------------------------------
Animation Keyframes
---------------------------------------------------*/
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.1);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes glow {
    $factor: 5px;

    from {
        text-shadow:
            0 0 $factor var(--mainColorA),
            0 0 calc(2 * $factor) var(--mainColorA),
            0 0 calc(3 * $factor) var(--mainColorB);
    }

    to {
        text-shadow:
            0 0 calc(2 * $factor) var(--mainColorA),
            0 0 calc(3 * $factor) var(--mainColorB),
            0 0 calc(4 * $factor) white;
    }
}