<section id="portfolio">
    <img *ngIf="projectListService.projects.length > 3" class="bg-shape-A"
        src="assets/img/bg-shapes/v{{ layout.version }}_shadow_portfolio-contact.png">
    <div class="bg-shape-B">
        <img src="assets/img/bg-shapes/v{{ layout.version }}_shadow_portfolio.png">
    </div>

    <div class="h2-container">
        <div class="h-line-A h-line-portfolio" data-aos="fade" data-aos-delay="500" data-aos-duration="1000"></div>
        <h2 data-aos="fade" data-aos-duration="1000">
            Portfolio
        </h2>
    </div>

    <span class="portfolio-text" data-aos="fade" data-aos-duration="1000" translate>
        In this section you find a selection of my favorite projects. <br>
        I kindly invite you to explore my portfolio and experience the diligence and dedication instilled into my
        work.
    </span>

    <app-project *ngFor="let p of projectListService.projects" [project]="p"></app-project>
</section>